# Summary statistics in Python
## Loading data
Today we will cover summary statistics in Python. We will first import the various libraries we will use and open up the data that we saved yesterday.
It's a good idea to look at the data too so we will print out the first 5 rows.

In [52]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import os

os.chdir('c:/Users/arpie71/Dropbox/Columbia/workshop')
print(os.listdir('data/.'))
df=pd.read_pickle('data/preselect')
df.head(n=5)

['.Rhistory', '2015_median_annual_hosehold_income.tsv', '2015_monthly_average_of_person_participating_in_food_stamp_program.tsv', '2016_presidential_election_results.tsv', 'bagofwords.html', 'bagofwords.Rmd', 'carter.pdf', 'Day1.zip', 'iran_ner.txt', 'jabberwocky.csv', 'lazarus.csv', 'legis.html', 'nyt.html', 'population_by_state.tsv', 'preselect', 'python', 'R', 'raven.do', 'ravenraw.csv', 'ravenraw.dta', 'state_abbreviations.tsv', 'test.html', 'test.Rmd', 'trade76.csv', 'tradesetup.do']

,State,Sum,Dem_EV,Rep_EV,Unalloc_EV,Clinton,Trump,Johnson,Other,tcdif,Participation,Abbr,Median_Income,Population,Trump_perc,fs_perc,vote_perc,Trump_win
0,Alabama,2123372,0,9,0,729547,1318255,44467,31103,588708,889380,AL,44509,4863300,0.630060,0.182876,0.430216,True
1,Alaska,318608,0,3,0,116454,163387,18725,20042,46933,81121,AK,75112,738432,0.547239,0.109856,0.404324,True
2,Arizona,2604657,0,11,0,1161167,1252401,106327,84762,91234,999401,AZ,52248,6931071,0.497005,0.144191,0.363565,True
3,Arkansas,1130635,0,6,0,380494,684872,29829,35440,304378,468904,AR,42798,2988248,0.625343,0.156916,0.366501,True
4,California,14237884,55,0,0,8753788,4483810,478500,521786,-4269978,4417772,CA,63636,39250017,0.326901,0.112555,0.349455,False

In [53]:
df.head(n=5)

,State,Sum,Dem_EV,Rep_EV,Unalloc_EV,Clinton,Trump,Johnson,Other,tcdif,Participation,Abbr,Median_Income,Population,Trump_perc,fs_perc,vote_perc,Trump_win
0,Alabama,2123372,0,9,0,729547,1318255,44467,31103,588708,889380,AL,44509,4863300,0.630060,0.182876,0.430216,True
1,Alaska,318608,0,3,0,116454,163387,18725,20042,46933,81121,AK,75112,738432,0.547239,0.109856,0.404324,True
2,Arizona,2604657,0,11,0,1161167,1252401,106327,84762,91234,999401,AZ,52248,6931071,0.497005,0.144191,0.363565,True
3,Arkansas,1130635,0,6,0,380494,684872,29829,35440,304378,468904,AR,42798,2988248,0.625343,0.156916,0.366501,True
4,California,14237884,55,0,0,8753788,4483810,478500,521786,-4269978,4417772,CA,63636,39250017,0.326901,0.112555,0.349455,False

## Sum
In some ways Python and R are easy to use than Stata. Summing variables is one of those ways. To get the sum of a column in a dataframe, you can just attach .sum() to the end of the column name. Remember that because you could have multiple dataframes open at the same time, you will need to specify the dataframe and then the column within it.

In [54]:
DEV = df['Dem_EV'].sum()
print(DEV)
df['Dem_EV'].sum()

227

227

# Compare sums
We can also use the functions directly in a print statement to compare different sums. 
Why is this useful? We could use that information to easily create new columns in the dataframe. 
As an aside, and this could be good or bad depending on your perspective, Python and R do not care if you already have a column with the name you are trying to assign. 
On the one hand, you don't have to worry about dropping a variable each time you want to create it. On the other hand, it is easier to make a mistake and overwrite an important variable.

In [55]:
print("Clinton received", df['Dem_EV'].sum(), "electoral votes and Trump received", df['Rep_EV'].sum())
df['DEVshare']=df['Dem_EV']/DEV

Clinton received 227 electoral votes and Trump received 304

## Mean
Next we will explore how to get the mean values for a few slides. Other summary statistics work in much the same way and will be easier to figure out once we get some of the syntax options down.
First, let's get the average median income across all states. 
Then we will get the mean of the column we just created (DEVshare).

In [56]:
print(df['Median_Income'].mean())
df['DEVshare'].mean()

57011.333333333336

0.0196078431372549

## Subsetting
Those looked okay but the percentage seems a little small. States that Clinton did not win will have a 0 value on DEVshare which might affect the mean. Also, what if we think there might be a difference in the median income of blue and red states. 
So we can subset the data and look at only rows where the Democrats received electoral votes.
Recall indexing. With dataframes, the first bracket contains the column names we want to perform the operation on. We have seen this already, 
To subset by row, we need to tell Python the row values we want. We can use conditions to do so. This will go in a second set of brackets. 
We first give the column name and then the condition. Here we want to limit the mean to rows where the Democrat's electoral vote was not equal to 0.

In [57]:
print(df['Median_Income'][df['Dem_EV']!=0].mean())
print(df['DEVshare'][df['Dem_EV']!=0].mean())
print(df['DEVshare'][30].mean())
print(df[['DEVshare','Median_Income']][df['Dem_EV']!=0].mean())
print(df[['DEVshare','Median_Income']][df['State']=='California'].mean())

62892.28571428572
0.047619047619047616
0.06167400881057269
DEVshare             0.047619
Median_Income    62892.285714
dtype: float64
DEVshare             0.242291
Median_Income    63636.000000
dtype: float64

## Comparison
Now we can compare the median income in blue and red states.
But something does not look quite right. 
How can someone make 2/3 of a penny?

In [58]:
print(df['Median_Income'][df['Dem_EV']==0].mean())
print(df['Median_Income'][df['Rep_EV']!=0].mean())

52894.666666666664
52825.67741935484

### Rounding 
We will round the values to the nearest cent. Some of this is not necessarily because I believe that you will use it but that it might be helpful to understand the syntax and logic of Python. 
Python's syntax is to specify what is to be rounded and then the number of decimal places. 
With that in mind, we know to wrap the round option around the value we want the mean of and then the places we want.

In [59]:
print(round(df['Median_Income'][df['Dem_EV']==0].mean(),2))

print(round(df['Median_Income'][df['Rep_EV']!=0].mean(),2))

52894.67
52825.68

## Final checks
There is a difference between the median income if we specify that Democratic electoral votes are equal to 0 and if we specify that Republican electoral votes are not equal to 0. Why should that be?

In [60]:
print(df['Unalloc_EV'].sum())
print(df['Median_Income'][df['Unalloc_EV']!=0].mean())
print(df['State'][df['Unalloc_EV']!=0])
print(df[['State','Unalloc_EV','Dem_EV','Rep_EV']][df['Unalloc_EV']!=0])

7
62743.333333333336
11        Hawaii
43         Texas
47    Washington
Name: State, dtype: object
         State  Unalloc_EV  Dem_EV  Rep_EV
11      Hawaii           1       3       0
43       Texas           2       0      36
47  Washington           4       8       0

# Other statistics
This should give an introdution to the different ways we could calculate the mean. The syntax for other summary statistics such as the median, standard deviation, minimum, or maximum is the same.

In [61]:
print(df['Median_Income'][df['Dem_EV']!=0].median())
print(df['Median_Income'][df['Dem_EV']!=0].std())
print(df['Median_Income'][df['Dem_EV']!=0].max())
print(df['Median_Income'][df['Dem_EV']!=0].min())
print(df['Median_Income'][df['Dem_EV']!=0].skew())
print(df['Median_Income'][df['Dem_EV']!=0].quantile([.25,.75]))

63636.0
7941.63043803259
75675
45119
-0.44967416155337103
0.25    58005.0
0.75    68357.0
Name: Median_Income, dtype: float64

# Finally 
What if we want a summary of the entire dataset?
Pandas has a describe option that will give you many summary statistics for the columns in the data. We can subset the columns and also the rows using similar syntax as before. 
In the lab session you will be able to explore the data in more detail calculating different statistics to get a feel for Python's syntax.

In [62]:
df.describe()
df[['Dem_EV','Rep_EV','Unalloc_EV']].describe()
df[['Dem_EV','Rep_EV','Unalloc_EV']][df['Dem_EV']!=0].describe()

          Dem_EV     Rep_EV  Unalloc_EV
count  21.000000  21.000000   21.000000
mean   10.809524   0.047619    0.238095
std    11.998413   0.218218    0.889087
min     3.000000   0.000000    0.000000
25%     4.000000   0.000000    0.000000
50%     7.000000   0.000000    0.000000
75%    11.000000   0.000000    0.000000
max    55.000000   1.000000    4.000000

In [63]:
print(df[['State','Dem_EV']][df['Rep_EV']!=0])

             State  Dem_EV
0          Alabama       0
1           Alaska       0
2          Arizona       0
3         Arkansas       0
9          Florida       0
10         Georgia       0
12           Idaho       0
14         Indiana       0
15            Iowa       0
16          Kansas       0
17        Kentucky       0
18       Louisiana       0
19           Maine       3
22        Michigan       0
24     Mississippi       0
25        Missouri       0
26         Montana       0
27        Nebraska       0
33  North Carolina       0
34    North Dakota       0
35            Ohio       0
36        Oklahoma       0
38    Pennsylvania       0
40  South Carolina       0
41    South Dakota       0
42       Tennessee       0
43           Texas       0
44            Utah       0
48   West Virginia       0
49       Wisconsin       0
50         Wyoming       0